
a 		{text-decoration: underline;
		font-size: 11pt;
		font-family: arial,verdana,helvetica;
		font-weight: bold;
		font-variant: normal;
		font-style: normal;
		color:#E11520;
		}

a:hover 	{color: #C1864A;
		text-decoration: underline;
		}


a.nav2 		{text-decoration: underline;
		font-size: 11pt;
		font-family: arial,verdana,helvetica;
		font-weight: bold;
		font-variant: normal;
		font-style: normal;
		color:#C1864A;
		}

a.nav2:hover 	{color: #F1AA25;
		text-decoration: underline;
		border: 0;
		}

a.nav3 		{text-decoration: none;
		font-size: 11pt;
		font-family: arial,verdana,helvetica;
		font-weight: bold;
		font-variant: normal;
		font-style: normal;
		color:#E11520;
		border: 0;
		}

a.nav3:hover 	{color: #C1864A;
		text-decoration: underline;
		}


a.likeflash  {text-decoration: none;
		font-size: 11pt;
		font-family: arial,verdana,helvetica;
		font-weight: bold;
		font-variant: normal;
		font-style: normal;
		color:#C1864A;
		}

a.likeflash:hover 	{color: #E11520;
		text-decoration: none;
		}


font.body 	{
		color:#C1864A;
		font-size: 11pt;
		line-height: 14pt;
		font-family: arial,verdana,helvetica;
		font-weight: normal;
		font-variant: normal;
		font-style: normal;
		}

font.ergo 	{
		color:#C1864A;
		font-size: 11pt;
		line-height: 12pt;
		font-family: arial,verdana,helvetica;
		font-weight: bold;
		font-variant: normal;
		font-style: normal;
		}

font.title 	{
		color:#E11520;
		font-size: 14pt;
		line-height: 14pt;
		font-family: arial,verdana,helvetica;
		font-weight: bold;
		font-variant: normal;
		font-style: normal;
		}

font.subtitle 	{
		color:#C1864A;
		font-size: 12pt;
		line-height: 13pt;
		font-family: arial,verdana,helvetica;
		font-weight: bold;
		font-variant: normal;
		font-style: normal;
		}

.formtext 	{
		font-family: arial,verdana,helvetica;
		font-size: 12px;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		color: #CCCCCC;
		text-decoration: none;
		}

body {
	scrollbar-3dlight-color : #000000;
	scrollbar-arrow-color : #EEEEEE;
	scrollbar-base-color : #E11520;
	scrollbar-darkshadow-color : #000000;
	scrollbar-face-color : #970909;
	scrollbar-highlight-color : #000000;
	scrollbar-shadow-color : #000000;
	scrollbar-track-color : #000000;
}
